.section-options {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: rgba(71, 71, 71, 0.781);
}

.div-container-opciones {
    margin-top: 5%;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 30px;
}

.div-container-opciones div{
    background-color: #c921a7;
    padding: 20px;
    border-radius: 30px;
}

.div-container-opciones div p{
    font-size: 20px;
}