.footer{
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 80px;
    height:100%;
    font-family:'Times New Roman', Times, serif ;
}

.categorias{
    display: flex;
    margin: 20px;
}

.conectados{
    position: absolute;
    right: 10%;
}

.contactanos{
    color: white;
    position: absolute;
    left: 50%;
    text-align: center;
}

.contactanos p{
    margin: 40px 0px;
}

.p-icono{
    color: #c921a7;
    margin-right: 10px;
}

.p-categorias{
    margin-top: 25px;
}

.categorias{
    text-decoration: none;
    color: #eee;
    transition: .3s;
}

.categorias:hover{
    color:  #c921a7;
}

.container-facebook{
    display: flex;
    gap: 20px;
    font-size: 30px;
    cursor: pointer;
    color:  #c921a7;
    transition:.5s ease all;
}

.iconos-facebook-ig{
    color: white;
    transition: .3s ease;
}

.iconos-facebook-ig:hover{
    color:  #c921a7;
}

@media only screen and (max-width: 660px){
    .footer{
        text-align:center;
    }

    .categories,
    .contactanos, 
    .conectados{
        margin:-2em;
    }
}