.section-container-web-design{
    padding: 50px 0;
    text-align: center;
}

.plan-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.plan-card h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.plan-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-card li {
    padding-left: 20px;
    position: relative;
    color: #444;
    font-size: 14px;
    margin-bottom: 5px;
}

.plan-card li:before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #c921a7;
}

.wvsr {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 30px auto;
}

.wordpress,
.react {
    flex-basis: calc(50% - 10px);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.wordpress h2,
.react h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.wordpress h5,
.react h5 {
    color: #c921a7;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wordpress p,
.react p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.wordpress:last-child,
.react:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .plan-card,
    .wordpress,
    .react {
        padding: 10px;
    }

    .plan-card h3,
    .wordpress h2,
    .react h2 {
        font-size: 20px;
    }

    .plan-card p,
    .wordpress p,
    .react p {
        font-size: 14px;
    }

    .wvsr {
        flex-direction: column;
    }

    .wordpress,
    .react {
        margin-bottom: 20px;
        flex-basis: 100%;
    }
}