.mantenimiento-web{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    position: relative;
    left: 25%;
}

.mantenimiento-web h2{
    font-size: 40px;
    margin: 40px;
}

.mantenimiento-web p{
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.mantenimiento-web h3{
    font-size: 30px;
}

.mantenimiento-web ul{
    margin: 20px;
    text-align: center;
    list-style: none;
}

.section-mantenimiento-web{
    background-color: rgba(187, 187, 187, 0.829);
}
